@{
    ViewData["Title"] = "User Page";
}
<div class="text-center">
    <h1 class="display-4">Welcome : @ViewBag.Email</h1>
    Email: @ViewBag.RealEmail
    <p> <a href="User/Update">Update Profile's Infomation'</a>.</p>
    <p> <a href="User/Deactivate">Deactivate Account'</a>.</p>

</div>
